.link {
  display: inline-flex;
  padding: 10px 14px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #1c90de;

  font-size: 20px;

  transition: color 250ms linear, background-color 250ms linear;
}
.active_link {
  background-color: #0d3e5e;
  color: #fafafa;
}
