.wrap {
  border-left: 1px solid rgba(255, 136, 0, 0.8);
  border-right: 1px solid rgba(255, 136, 0, 0.8);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  background-color: #83674c;
}

.title {
  padding-left: 30px;
  margin-bottom: 8px;

  font-family: Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-decoration: underline;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card {
  display: flex;
  height: 150px;
  border-right: 1px solid rgba(85, 85, 85, 0.5);
  background-color: #bba086;

  transition: box-shadow 250ms linear;

  &:hover {
    box-shadow: 2px 0px 3px 0px rgba(85, 85, 85, 0.8);
  }
}

.card:nth-child(even) {
  background-color: #ab8059;
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
  }
  .card {
    width: calc((100% - 10px) / 2);
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    width: calc((100% - 19px) / 3);
    height: 250px;
  }
}
